footer#footer
    p.logo 
        | Movies
        span &amp;
        |Stuff

    p.copyright &copy; 2016 Movies &amp; Stuff. All rights Reserved
    .links
        a(href="#") Terms of Service
        a(href="#") Privacy Police