header#top_header.cf
    .wrapper
        h1.logo  
            | Movies 
            span &amp; 
            | Stuff
        a(href="#").menu
            i.fa.fa-bars
        nav#main_nav
            a(href="#") Movies
            a(href="#") TV Shows
            a(href="#") Celebs &amp; Photos
            a(href="#") News