section#movies.cf
    .wrapper
        header.cf
            h2 Popular Movies
            p.view_more View All Movies
            
        .row
            .post
                img(src="../assets/img/movie_posters/Avengers-Age-of-Ultron-Poster.jpg" alt="Age of Ultron" )
                h3.movie_title Age of Ultron
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/movie_posters/inside-out.jpg"  alt="Inside Out")
                h3.movie_title Inside Out
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/movie_posters/Jurassic-World-Poster-Official.jpg"  alt="Jurassic World")
                h3.movie_title Jurassic World
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/movie_posters/mad-max.jpg"   alt="Mad Max")
                h3.movie_title Mad Max
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/movie_posters/star-wars-force-awakens-official-poster.jpg"  alt="Star Wars force awakens")
                h3.movie_title Star Wars force awakens
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/movie_posters/the-martian-poster.jpg"  alt="The Martian")
                h3.movie_title The Martian
                p.post_info PG13 | 109 Minutes
