section#tv_shows.cf
    .wrapper
        header.cf
            h2 Popular TV Shows
            p.view_more View All TV Shows
            
        .row
            .post
                img(src="../assets/img/tv_shows/breaking-bad.jpg" alt="Breaking bad" )
                h3.movie_title Breaking bad
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/tv_shows/empire.jpg"  alt="Empire")
                h3.movie_title Empire
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/tv_shows/game-of-thrones.jpg"  alt="Game of Thrones")
                h3.movie_title Game of Thrones
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/tv_shows/master-of-none.jpg"   alt="Master of None")
                h3.movie_title Master of None
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/tv_shows/mr-robot.jpg"  alt="Mr. Robot")
                h3.movie_title Mr. Robot
                p.post_info PG13 | 109 Minutes
        
            .post
                img(src="../assets/img/tv_shows/walking-dead.jpg"  alt="Walking Dead")
                h3.movie_title Walking Dead
                p.post_info PG13 | 109 Minutes